<div class="home-container">
        <section class="home-hero">
          
          <header data-thq="thq-navbar" class="home-navbar">
             <img alt="image" src="public/devbhumi-tourism-logo.webp" height="100px" width="100px" style=" margin-left: 20px;" />
            <div
              data-thq="thq-navbar-nav"
              data-role="Nav"
              class="home-desktop-menu"
            >
              <nav
                data-thq="thq-navbar-nav-links"
                data-role="Nav"
                class="home-nav"
              >
                 <a href="/" class="navLink"><span class="navLink-active">HOME</span></a>
                <a href="/uttarakhand-tour-packages/" class="navLink"> <span class="navLink">UTTARAKHAND TOURS</span></a>
                 <a href="/char-dham-yatra/" class="navLink"><span class="navLink">CHAR DHAM YATRA</span></a>
                 <a href="/uttarakhand-destinations/" class="navLink"><span class="navLink">DESTINATIONS</span></a>
                 <a href="/discover-uttarakhand/" class="navLink"><span class="navLink">DISCOVER</span></a>
                  <a href="/blogs/" class="navLink"><span class="navLink">BLOGS</span></a>
                 <a href="/about-us/" class="navLink"><span class="navLink">ABOUT US</span></a>
                 <a href="/contact-us/" class="navLink"><span class="navLink">CONTACT</span></a>
              </nav>
              <button class="button" style=" margin-right: 20px;">
                <span>Chat Now</span>
                <svg viewBox="0 0 1024 1024" class="home-icon">
                  <path
                    d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"
                  ></path>
                </svg>
              </button>
            </div>
            <div data-thq="thq-burger-menu" class="home-burger-menu">
              <svg viewBox="0 0 1024 1024" class="home-icon02">
                <path
                  d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                ></path>
              </svg>
            </div>
            <div data-thq="thq-mobile-menu" class="home-mobile-menu">
              <div
                data-thq="thq-mobile-menu-nav text-dark"
                data-role="Nav"
                class="home-nav1"
              >
                <div class="home-container01">
                  <img alt="image" src="public/devbhumi-tourism-logo.webp" height="50px" width="50px"/>
                  <div data-thq="thq-close-menu" class="home-menu-close">
                    <svg viewBox="0 0 1024 1024" class="home-icon04">
                      <path
                        d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <nav
                  data-thq="thq-mobile-menu-nav-links text-dark"
                  data-role="Nav"
                  class="home-nav2"
                >
                <a href="#">  <span class="home-nav2-active">HOME</span></a>
                 <a href="#"><span class="navLink">UTTARAKHAND TOURS</span></a>
                 <a href="#"><span class="navLink">CHAR DHAM YATRA</span></a>
                 <a href="#"><span class="navLink">DESTINATIONS</span></a>
                 <a href="#"><span class="navLink">DISCOVER</span></a>
                  <a href="#"><span class="navLink">BLOGS</span></a>
                 <a href="#"><span class="navLink">ABOUT US</span></a>
                 <a href="#"><span class="navLink">CONTACT</span></a>
                </nav>
                <div class="home-button-container">
                  <button class="home-login button">Call +91 7252 808 808</button>
                  <button class="home-login button">Call +91 9012 466 887</button>
                  <button class="button home-register1">Chat Now On WhatsApp</button>
                  <button class="button home-register1">Get A Quote In 24 Hours</button>
                </div>
               
              </div>
              
            </div>
          </header>
          <div class="home-hero-content">
            <h1 class="home-text08">Book The Top Trending Uttarakhand Tour Packages For 2024</h1>
            <h2 class="home-text02">Discover The Gems Of Uttarakhand Tour Packages with Devbhumi Tourism</h2>
              <p class="home-caption03">
                    Nestled in the foothills of the Himalayas, the beautiful hill state of Uttarakhand is the dream destination of every traveller. After all, there is no day that you don't find untouched natural beauty, a tryst with the wild, a journey of the soul, and a fun holiday, all packed into one. But, the gem of the north "Devbhumi Tourism" manages to pull this off in style. With regards to cute quality Uttarakhand Tour and Travel Packages, Devbhumi Tourism ventures up in any case to furnish you with a very acceptable involvement in the recollections for the lifetime.
                  </p><hr />
            <div class="home-caption">
             <a href="/uttarakhand-tour-packages/" class="button home-button13">
                <span>UTTARAKHAND TOUR PACKAGES</span> <svg viewBox="0 0 1024 1024" class="home-icon">
                  <path
                    d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"
                  ></path>
                </svg>
              </a>
                <a href="https://www-devbhumitourism-com.translate.goog/?_x_tr_sl=en&_x_tr_tl=hi&_x_tr_hl=hi&_x_tr_pto=tc" class="button home-button">
                <span>हिंदी और 120+ भाषाओं में पढ़ें </span>  <svg viewBox="0 0 1024 1024" class="home-icon">
                  <path
                    d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"
                  ></path>
                </svg></a>
               <a href="/char-dham-yatra/" class="button home-button13">
                <span>CHAR DHAM YATRA 2024</span>  <svg viewBox="0 0 1024 1024" class="home-icon">
                  <path
                    d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"
                  ></path>
                </svg></a>
            </div>
          </div>
        </section></div>
