
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Char Dham Yatra From Haridwar | 9N/10D | Ex Haridwar</title>
    <link rel="icon" type="image/png" href="assets/media/favicon.ico" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="single-tour">
    <!-- Header :START -->
    <header>
      <div class="container d-flex justify-between align-center">
        <div class="flex-20">
          <a href="#" class="logo">
            <img
              src="assets/media/Devbhumi-Tourism.png"
              alt="Devbhumi Tourism Logo"
            />
          </a>
        </div>
        <div class="flex-40 d-flex justify-center menu-container">
          <nav>
            <ul class="menu d-flex semi-bold-text">
              <li><a href="index.html" class="menu-item">Home</a></li>
              <li><a href="#" class="menu-item">Uttarakhand Tours</a></li>
              <li><a href="#" class="menu-item">Char Dham Yatra</a></li>
              <li><a href="#" class="menu-item">Discover</a></li>
              <li><a href="#" class="menu-item">Destinations</a></li>
              <li><a href="#" class="menu-item">Blogs</a></li>
              <li><a href="#" class="menu-item">About Us</a></li>
              <li><a href="#" class="menu-item">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <div class="flex-20 justify-end">
          <a href="#" class="btn decoration-none">Chat Now</a>
        </div>
        <div class="hamburger-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="mobile-menu">
        <div class="close-btn">&times;</div>
        <ul class="menu semi-bold-text">
          <li><a href="index.html" class="menu-item">Home</a></li>
          <li><a href="#" class="menu-item">Uttarakhand Tours</a></li>
          <li><a href="#" class="menu-item">Char Dham Yatra</a></li>
          <li><a href="#" class="menu-item">Discover</a></li>
          <li><a href="#" class="menu-item">Destinations</a></li>
          <li><a href="#" class="menu-item">Blogs</a></li>
          <li><a href="#" class="menu-item">About Us</a></li>
          <li><a href="#" class="menu-item">Contact Us</a></li>
          <li><a href="#" class="btn decoration-none">Chat Now</a></li>
        </ul>
      </div>
    </header>
    <!-- Header :END -->
    <section class="single-hero relative">
      <div class="container">
        <div class="row w-100">
          <div class="col-9 single-content">
            <div class="row w-100 section-2-wrapper">
              <div class="col-12">
                <h4 class="regular-text text-left sup-heading">
                  Char Dham Yatra - 09 Nights/10 Days - From Haridwar
                </h4>
				</br>
                <h2 class="bold-heading text-left section-heading w-100">
                  Char Dham Yatra from Haridwar
                </h2>
                <p class="sec-heading-paragraph text-left w-100">
                  It is believed that beginning your Char Dham Yatra from Haridwar is the best option if you are planning to reach Uttarakhand by train. Because starting from Haridwar includes Haridwar itself followed by Rishikesh and other places and you will no need to explore Haridwar in the last of your tour. Another reason is that Haridwar is also known as the gateway to Holy Char Dham and starting from Haridwar makes the tour extra positive.
				  </p>
              </div>
            </div>
            <div class="row">
              <div class="image-gallery d-flex w-100 justify-between">
                <div class="image-item">
                  <a href="assets/media/image1.jpg" data-lightbox="gallery">
                    <img src="assets/media/image1.jpg" alt="Image 1" />
                  </a>
                </div>
                <div class="image-item">
                  <a href="assets/media/image2.jpg" data-lightbox="gallery">
                    <img src="assets/media/image2.jpg" alt="Image 2" />
                  </a>
                </div>
                <div class="image-item">
                  <a href="assets/media/image3.jpg" data-lightbox="gallery">
                    <img src="assets/media/image3.jpg" alt="Image 3" />
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h2 class="ex-place bold-heading text-left font-white">
                  Char Dham Yatra from Haridwar
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="amenities-wrapper w-100">
                <div class="amenity-item">
                  <div class="amenity-icon">
                    <!-- Replace with an appropriate icon -->
                    <img src="assets/media/icon1.png" alt="" />
                  </div>
                  <div class="amenity-content">
                    <div class="amenity-title font-white">PRICE/HEAD</div>
                    <div class="amenity-value">₹ 22500</div>
                  </div>
                </div>
                <div class="amenity-item">
                  <div class="amenity-icon">
                    <img src="assets/media/icon2.png" alt="" />
                  </div>
                  <div class="amenity-content">
                    <div class="amenity-title font-white">DURATION</div>
                    <div class="amenity-value">09N/10D</div>
                  </div>
                </div>
                <div class="amenity-item">
                  <div class="amenity-icon">
                    <img src="assets/media/icoon3.png" alt="" />
                  </div>
                  <div class="amenity-content">
                    <div class="amenity-title font-white">TOUR TYPE</div>
                    <div class="amenity-value">PRIVATE</div>
                  </div>
                </div>
                <div class="amenity-item">
                  <div class="amenity-icon">
                    <img src="assets/media/icon4.png" alt="" />
                  </div>
                  <div class="amenity-content">
                    <div class="amenity-title font-white">
                      ATRACTIONS COVERED
                    </div>
                    <div class="amenity-value">
                      Badrinath , Chopta , Gangotri , Kedarnath , Rishikesh , Rudraprayag , Yamunotri
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="space-50"></div>
            <div class="row w-100 hero-btn-wrapper">
              <div class="col-6 text-left">
                <a href="#" class="hero-btn decoration-none regular-text"
                  >book this tour</a
                >
              </div>
              <div class="col-6 text-right">
                <a href="#" class="hero-btn decoration-none"
                  >download this tour</a
                >
              </div>
            </div>
          </div>
          <div class="col-3 single-sidebar">
            <h2 class="bold-heading text-center sidebar-heading font-white">
              Trending Tours
            </h2>
            <div class="packages-wrapper">
              <div class="package-item w-90">
                <div class="package-card">
                  <div class="package-image">
                    <img
                      class="w-100"
                      src="assets/media/char-dham-yatra-by-helicopter.jpg"
                      alt="char-dham-yatra-by-helicopter"
                    />
                    <h4
                      class="package-title text-center bold-heading font-black"
                    >
                      <a href="char-dham-yatra-by-helicopter.html">Char Dham Yatra By Helicopter</a>
					 
                    </h4>
                  </div>
                </div>
              </div>
              <div class="package-item w-90">
                <div class="package-card">
                  <div class="package-image">
                    <img
                      class="w-100"
                      src="assets/media/char-dham-yatra-by-road.jpg"
                      alt="char-dham-yatra-by-road"
                    />
                    <h4
                      class="package-title text-center bold-heading font-black"
                    >
                      <a href="char-dham-yatra-by-road.html">Char Dham Yatra By Road</a>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="package-item w-90">
                <div class="package-card">
                  <div class="package-image">
                    <img
                      class="w-100"
                      src="assets/media/do-dham-yatra-by-road.jpg"
                      alt="do-dham-yatra-by-road"
                    />
                    <h4
                      class="package-title text-center bold-heading font-black"
                    >
                     <a href="do-dham-yatra-by-road.html">Do Dham Yatra By Road</a>
                    </h4>
                  </div>
                </div>
              </div>
			   <div class="package-item w-90">
                <div class="package-card">
                  <div class="package-image">
                    <img
                      class="w-100"
                      src="assets/media/ek-dham-yatra-by-road.jpg"
                      alt="do-dham-yatra-by-road"
                    />
                    <h4
                      class="package-title text-center bold-heading font-black"
                    >
                      <a href="ek-dham-yatra-by-road.html">EK Dham Yatra By Road</a>
                    </h4>
                  </div>
                </div>
              </div>
			   <div class="package-item w-90">
                <div class="package-card">
                  <div class="package-image">
                    <img
                      class="w-100"
                      src="assets/media/private-leisure-tours-discover-kumaon.jpg"
                      alt="do-dham-yatra-by-road"
                    />
                    <h4
                      class="package-title text-center bold-heading font-black"
                    >
                     <a href="kumaon-tour-packages.html">Kumaon Tour Packages</a>
                    </h4>
                  </div>
                </div>
              </div>
			   <div class="package-item w-90">
                <div class="package-card">
                  <div class="package-image">
                    <img
                      class="w-100"
                      src="assets/media/private-leisure-tours-discover-garhwal.jpg"
                      alt="do-dham-yatra-by-road"
                    />
                    <h4
                      class="package-title text-center bold-heading font-black"
                    >
                      <a href="garhwal-tour-packages.html">Garhwal Tour Packages</a>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="single-tour-content">
      <div class="container">
        <div class="row">
          <div class="tabs w-100 justify-between d-flex">
            <button
              class="tab-link active"
              onclick="openTab(event, 'Overview')"
            >
              Overview
            </button>
            <button class="tab-link" onclick="openTab(event, 'Itinerary')">
              Itinerary
            </button>
            <button class="tab-link" onclick="openTab(event, 'TourMap')">
              Tour Map
            </button>
            <button class="tab-link" onclick="openTab(event, 'TourGallery')">
              Tour Gallery
            </button>
            <button class="tab-link" onclick="openTab(event, 'MoreInfo')">
              More Info
            </button>
            <button class="tab-link" onclick="openTab(event, 'FAQs')">
              FAQs
            </button>
          </div>
          <div id="Overview" class="tab-content">
            <h2 class="bold-heading font-2x">TOUR OVERVIEW</h2>
            <p>
              Setting off to the four hallowed spots would take you through the most beautiful scene including thick mountain woods, glades, substantial valleys, cascades, waterways, stream conversions, and blooms. With abundant nature's quality in each alcove and corner of Uttarakhand, the journey in the Himalayas turns out to be all the more reviving and profoundly inspiring.
			  </p>
            <h2 class="bold-heading font-2x mt-50">What's included?</h2>
            <div class="single-tour-info-table-container">
              <table class="info-table">
                <tbody>
                  <tr>
                    <td>Destination</td>
                    <td>
                      Badrinath , Chopta , Gangotri , Kedarnath , Rishikesh , Rudraprayag , Yamunotri
                    </td>
                  </tr>
                  <tr>
                    <td>Departure Location</td>
                    <td>Haridwar</td>
                  </tr>
                  <tr>
                    <td>Return Location</td>
                    <td>Haridwar</td>
                  </tr>
                  <tr>
                    <td>Price Includes</td>
                    <td>Breakfast, Dinner, Sightseeing, Cab, Hotels</td>
                  </tr>
                  <tr>
                    <td>Complementaries</td>
                    <td>
                      <div class="complementary-item">
                        <strong>09 Nights Accommodation:</strong><br />09
                        Nights/10 Days accommodation included in the package
                        cost.
                      </div>
                      <div class="complementary-item">
                        <strong>08 x Breakfast:</strong><br />Free 08 breakfast
                        at the hotel included in the package cost.
                      </div>
                      <div class="complementary-item">
                        <strong>08 x Dinner:</strong><br />Free 08 dinner at the
                        hotel included in the package cost.
                      </div>
                      <div class="complementary-item">
                        <strong>AC Individual Cab:</strong><br />Private cab
                        including fuel, toll, parking, driver, and all
                        applicable taxes according to the tour itinerary.
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h2 class="bold-heading mt-50">
             Char Dham Yatra Package
            </h2>
			</br>
			<p>
              Embark on a divine journey of spirituality and serenity with our Char Dham Yatra Package. This sacred pilgrimage takes you to the four holiest Hindu shrines nestled in the Himalayas of Uttarakhand: Yamunotri, Gangotri, Kedarnath, and Badrinath. Each destination holds profound religious significance and offers a soul-stirring experience for pilgrims seeking blessings and spiritual enlightenment.
			  </p>
            <h2 class="bold-heading font-2x mt-50">
              Explore Yamunotri: The Source of the Yamuna River
            </h2>
			</br>
            <p>
              Begin your pilgrimage at Yamunotri, the origin of the sacred Yamuna River. Trek through picturesque landscapes to reach the temple dedicated to Goddess Yamuna, where devotees offer prayers and seek blessings. Witness the mesmerizing beauty of the Yamunotri glacier and partake in the holy ritual of bathing in the natural thermal springs known as ‘Kunds.’
			  </p>
			  <h2 class="bold-heading font-2x mt-50">
              Visit Gangotri: The Birthplace of the Ganges
            </h2>
			</br>
            <p>
              Continue your spiritual journey to Gangotri, the revered birthplace of the Ganges River. Pay homage at the Gangotri Temple, dedicated to Goddess Ganga, and marvel at the awe-inspiring views of the Bhagirathi River. Experience the divine aura of the temple town and immerse yourself in the sacred chants and rituals performed by devotees.
			  </p>
			  <h2 class="bold-heading font-2x mt-50">
              Seek Blessings at Kedarnath: The Abode of Lord Shiva
            </h2>
			</br>
            <p>
              Proceed to Kedarnath, the sacred abode of Lord Shiva nestled amidst the majestic Himalayas. Trek along the scenic route to reach the Kedarnath Temple, one of the twelve Jyotirlingas, and offer prayers at this revered shrine. Experience the profound spirituality of Kedarnath as you witness the enchanting beauty of the surrounding mountains.
			  </p>
			  <h2 class="bold-heading font-2x mt-50">
              Pay Homage at Badrinath: The Abode of Lord Vishnu
            </h2>
			</br>
            <p>
              Conclude your pilgrimage at Badrinath, the holiest of the Char Dhams and the abode of Lord Vishnu in his form as Badrinarayan. Visit the Badrinath Temple, situated amidst breathtaking vistas of snow-capped peaks and pristine valleys. Seek blessings at the sacred shrine and partake in the divine atmosphere of devotion and piety.
			  </p>
			  <h2 class="bold-heading font-2x mt-50">
              Experience Comfortable Accommodation and Expert Guidance
            </h2>
			</br>
            <p>
              Throughout your spiritual odyssey, enjoy comfortable accommodation in hotels and guesthouses located near each pilgrimage site. Our experienced tour guides will accompany you, providing valuable insights, assistance, and ensuring a seamless and enriching pilgrimage experience.
			  </p>
			  <h2 class="bold-heading font-2x mt-50">
              Book Your Char Dham Yatra Package Today
            </h2>
			</br>
            <p>
              Join us on this sacred journey of self-discovery and devotion with our Char Dham Yatra Package. Whether you seek blessings, spiritual solace, or simply wish to explore the mystical beauty of the Himalayas, this pilgrimage promises an unforgettable experience that will uplift your soul and leave you with cherished memories for a lifetime. Book your package today and embark on a journey of divine grace and enlightenment.
			  </p>
            <div class="row">
              <h2 class="bold-heading font-2x mt-50">
                Confirmed Shrine Opening Dates For 2024
              </h2>

              <div class="date-wrapper mt-20 d-flex">
                <div class="date-box">
                  <strong>Yamunotri Temple</strong>
                  <p>10 MAY 2024</p>
                </div>
                <div class="date-box">
                  <strong>Gangotri Temple</strong>
                  <p>10 MAY 2024</p>
                </div>
                <div class="date-box">
                  <strong>Kedarnath Temple </strong>
                  <p>10 MAY 2024</p>
                </div>
                <div class="date-box">
                  <strong>Badrinath Temple</strong>
                  <p>12	MAY 2024</p>
                </div>
              </div>
            </div>
          </div>

          <div id="Itinerary" class="tab-content" style="display: none">
            <h2 class="bold-heading font-2x">
              CHAR DHAM YATRA FROM HARIDWAR TOUR ITINERARY
            </h2>
            <div class="itinerary mt-50">
              <h5>DAY 01</h5>
              <h2 class="bold-heading font-2x">
                HARIDWAR - BARKOT (190 KM/09 HR)
              </h2>
              <p>
                Pick up early in the morning from Haridwar and visit Har Ki Pauri temple and having breakfast at Haridwar. Post breakfast proceeds straight to Barkot via covering beautiful Kempty Falls at Mussoorie. Lunch at midway. The evening arrives, get check-in into the hotel. The evening is free for your leisure. Dinner and overnight stay at Barkot.
				</p>
            </div>
            <div class="itinerary mt-50">
              <h5>DAY 02</h5>
              <h2 class="bold-heading font-2x">
                BARKOT - YAMUNOTRI - BARKOT (45 KM/03 HR + 6 KM/SIDE TREK)
              </h2>
              <p>
                Early morning proceeds to Janki Chatti to explore Yamunotri Dham. From Janki Chatti, you will need to trek for 6 km. Full day and meals on your own. Get blessed by having darshan at Yamunotri temple. Evening returns back to Janki Chatti and boards the vehicle for Barkot. The evening returns back to the hotel and is free for your leisure. Dinner and overnight stay at Barkot.
				</p>
			</div>
            <div class="itinerary mt-50">
              <h5>DAY 03</h5>
              <h2 class="bold-heading font-2x">
                BARKOT - UTTARKASHI (85 KM/04 HR)
              </h2>
              <p>
               Cozy morning, get relaxed well. Get refreshed and have your hot breakfast at the hotel. Post breakfast checks out from the hotel and proceeds to Uttarkashi. En-route explores the famous Vishwanath Temple. The evening arrives, get check-in into the hotel and free for your leisure. Dinner and overnight stay at Uttarkashi.
			   </p>
            </div>
            <div class="itinerary mt-50">
              <h5>DAY 04</h5>
              <h2 class="bold-heading font-2x">
                UTTARKASHI - GANGOTRI - UTTARKASHI (100 KM/04 HR/SIDE)
              </h2>
              <p>
                Wake up early, get refreshed and have your hot breakfast at the hotel. Post breakfast board the vehicle and proceeds to explore Gangotri Dham. Enroute enjoys picturesque Harsil Valley, Bhagirathi River, and the most magnificent views of the snow-clad Himalayas. After Gangotri Darshan, returns back to Uttarkashi. Lunch on your own. The evening returns back to the hotel at Uttarkashi. Dinner and overnight stay at Uttarkashi.
				</p>
            </div>
            <div class="itinerary mt-50">
              <h5>DAY 05</h5>
              <h2 class="bold-heading font-2x">
                UTTARKASHI - GUPTKASHI (220 KM/10 HR)
              </h2>
              <p>
                Wake up, get refreshed and have your hot breakfast at the hotel. Post breakfast checks out and proceeds to Guptkashi. En-route enjoys beautiful valleys of Chamiyala, Ghansali, and Agastmuni. Lunch at midway. The evening arrives, get check-in into the hotel. Evening free for your leisure. Dinner and overnight stay at Guptkashi.
				</p>
            </div>
            <div class="itinerary mt-50">
              <h5>DAY 06</h5>
              <h2 class="bold-heading font-2x">
                GUPTKASHI - GAURIKUND - KEDARNATH JI
              </h2>
              <p>
                Wake up early and get refreshed. There are two mediums to reach the Kedarnath temple ie by road and by air. Please find the below details for both mediums.
				</p>
			    </br>
			  <p>
               By Road: If you are planning to reach the Kedarnath temple by road then your cab will take you to Sonprayag. In the high season (May/June) there is much rush on this road from Guptkashi to Sonprayag which has a distance of 30 km. Sometimes this distance takes more than 03 hours to reach Sonprayag.
			   </p>
			  </BR>
			   <p>
               So, leaving early from Guptkashi for Sonprayag will be a good idea. From Sonprayag you will need to take local conveyance for Gaurikund, which is 05 km ahead of Sonprayag. Gaurikund is the base camp for the Kedarnath trek. You will do medical and biometric registration here and then proceed for the trek to Kedarnath. It is a 16 km trek which takes around 5 hours to complete the trek for a normal person. You will also have other options like Dolly/Ponny if you wish to skip the trekking.
			   </p>
			  </BR>
			   <p>
                By Air:  You can also choose to explore Kedarnath by Helicopter services. Helicopter services are time-saving and give you an amazing birds-eye view of the snow-clad Himalayan peaks behind the Kedarnath temple. If you choose to access the Kedarnath temple by Heli services then the cab will take you to Helipad from where you will do all the formalities and will take off for Kedarnath.
				</p>
			   </BR>
			   <p>
                Once you reach Kedarnath, get check-in into the hotel. Take some rest and explore the surroundings on your own. Having dinner and overnight stay at Kedarnath.
				</p>
            </div>
			<div class="itinerary mt-50">
              <h5>DAY 07</h5>
              <h2 class="bold-heading font-2x">
               KEDARNATH JI - SONPRAYAG - CHOPTA
              </h2>
              <p>
                Wake up early, get refreshed. Do the necessary shopping for the puja at Kedarnath temple. You can book a special pooja on additional charges. After having the Darshan of Lord Kedarthan and pooja ceremony back to the hotel. Pack your luggage and check out. Post check out have your breakfast at Kedarnath. Post breakfast treks down/fly down to Sonprayag/Guptkashi. From Sonpryag/Guptkashi board the cab and proceed straight to Chopta. Chopta is about 75 km from Sonprayag which will take approx 3 hours to reach Chopta. Lunch midway. En-route explores Omkareshwar Temple at Ukhimath and then straight to Chopta. The evening arrives, get check-in to the camps. The evening explores a beautiful sunset and enjoys light music at the camps. Having dinner and overnight stay at Chopta.
				</p>
            </div>
			<div class="itinerary mt-50">
              <h5>DAY 08</h5>
              <h2 class="bold-heading font-2x">
                CHOPTA - BADRINATH JI (180 KM/07 HR)
              </h2>
              <p>
                The morning investigates the stunning sunrise at Chopta. Post breakfast checks out and proceeds to Badrinath. En-route explores Gopinath Temple at Gopeshwar and Narsingh Temple at Joshimath. Lunch midway. The evening arrives, get check-in into the hotel. The evening is free for your leisure. You can explore the surroundings and Badrinath temple in the evening. Back to the hotel, having dinner and overnight stay at Badrinath Ji.
				</p>
            </div>
			<div class="itinerary mt-50">
              <h5>DAY 09</h5>
              <h2 class="bold-heading font-2x">
                BADRINATH JI - RUDRAPRAYAG (155 KM/05 HR)
              </h2>
              <p>
               Wake up early, get refreshed, and do the necessary shopping for the pooja at Shri Badrinath Ji. Take a hot bath in a natural spring hot pond at Badrinath Ji, which is also known as Tapt Kund. After having the bath you can choose to stay in line or you can skip the line by applying for special pooja. After having the darshan and pooja ceremony back to the hotel. Have your hot breakfast at the hotel and check out. Post check out proceeds to explore Mana village. Investigating Bhim Pul, Vyas Gufa, and other gems of Mana. The afternoon proceeds to Rudraprayag. En-route explores Joshimath, Nandprayag, Vishnuprayag, Karnprayag, and Rudraprayag. Lunch at midway. The evening arrives, get check-in into the hotel. Evening free for your leisure. Having dinner and overnight stay at Rudraprayag.
			   </p>
            </div>
			<div class="itinerary mt-50">
              <h5>DAY 10</h5>
              <h2 class="bold-heading font-2x">
                RUDRAPRAYAG - RISHIKESH - HARIDWAR (170 KM/06 HR)
              </h2>
              <p>
               Refuel yourself with a heavy breakfast at the hotel. Post breakfast checks out and proceeds to Dehradun for the drop. En-route explores Rishikesh’s local market, Ram Jhula, and Laxman Jhula. Lunch at Rishikesh’s local market. Post lunch proceeds to Haridwar for the drop. Drop at Haridwar. Tour Ends.
			   </p>
            </div>
          </div>

          <div id="TourMap" class="tab-content" style="display: none">
            <h2 class="bold-heading font-2x">Tour Map</h2>
            <p>
              <iframe
                src="https://www.google.com/maps/d/u/0/embed?mid=14R9kyuccoQdfAjVuQFaq4UEWq3LPoXQ&amp;ehbc=2E312F"
                width="100%"
                height="680"
              ></iframe>
            </p>
          </div>

          <div id="TourGallery" class="tab-content" style="display: none">
            <h2 class="bold-heading font-2x">Tour Gallery</h2>
            <div class="row">
              <div class="tour-gallery d-flex flex-wrap">
                <img src="assets/media/gal-1.png" alt="" class="gallery-item" />
                <img src="assets/media/gal-2.png" alt="" class="gallery-item" />
                <img src="assets/media/gal-3.png" alt="" class="gallery-item" />
                <img src="assets/media/gal-4.png" alt="" class="gallery-item" />
                <img src="assets/media/gal-5.png" alt="" class="gallery-item" />
                <img src="assets/media/gal-6.png" alt="" class="gallery-item" />
                <img src="assets/media/gal-7.png" alt="" class="gallery-item" />
                <img src="assets/media/gal-8.png" alt="" class="gallery-item" />
                <img src="assets/media/gal-9.png" alt="" class="gallery-item" />
                <img
                  src="assets/media/gal-10.png"
                  alt=""
                  class="gallery-item"
                />
              </div>
            </div>
          </div>

          <div id="MoreInfo" class="tab-content" style="display: none">
            <h2 class="bold-heading font-2x">More about this tour</h2>
			<p class="mt-20">
              The Char Dham Yatra, a sacred pilgrimage circuit nestled in the breathtaking expanse of the Indian Himalayas, beckons devout seekers on a transformative journey from the bustling heart of Delhi. This spiritual odyssey encompasses four revered shrines – Yamunotri, Gangotri, Kedarnath, and Badrinath – each holding profound religious significance in Hinduism. The yatra, spanning 12 soul-stirring days, serves as a symbolic quest for spiritual enlightenment, weaving through the majestic landscapes and snow-clad peaks of Uttarakhand.
			  </p>
			  </br>
            <h2 class="bold-heading big-heading">Beginning Of Char Dham Followed By Yamunotri</h2>
            <p class="mt-20">
             The journey begins in Delhi, where pilgrims set forth on a path that transcends the material world, delving into the spiritual realms of the Char Dham. The first destination is Yamunotri, the source of the sacred Yamuna River. Nestled at an altitude of 3,293 meters, Yamunotri is not merely a geographical marvel but a divine abode where pilgrims embark on a trek to seek the blessings of Goddess Yamuna. The Yamunotri Temple, perched amidst pristine beauty, resonates with the chants and prayers of devotees who believe in the cleansing power of the river's waters.
			 </p>
			  <h2 class="bold-heading big-heading">The second Stopover Is Gangotri</h2>
            <p class="mt-20">
             From Yamunotri, the journey continues to Gangotri, the birthplace of the holy Ganges River. Located at an altitude of 3,100 meters, Gangotri mesmerizes with its serene landscapes and the imposing Gangotri Temple dedicated to Goddess Ganga. Pilgrims offer prayers on the banks of the sacred Bhagirathi River, believing that a dip in its icy waters absolves them of sins and paves the way for spiritual renewal.
			 </p>
			  <h2 class="bold-heading big-heading">The Third Stopover Is Kedarnath</h2>
            <p class="mt-20">
             Kedarnath, the next sacred destination, holds profound significance as the abode of Lord Shiva. Nestled at an altitude of 3,583 meters, Kedarnath is reached through a trek or helicopter ride from Gaurikund. The Kedarnath Temple, surrounded by snow-capped peaks, stands as a testimony to faith and resilience. Pilgrims experience a deep sense of connection as they visit the shrine and the Samadhi of Adi Shankaracharya.
			 </p>
			  <h2 class="bold-heading big-heading">The Last Stopover Is Badrinath</h2>
            <p class="mt-20">
             The penultimate stop in this divine sojourn is Badrinath, the abode of Lord Vishnu, situated at an altitude of 3,133 meters. The Badrinath Temple, with its imposing architecture against the backdrop of Neelkanth Peak, draws pilgrims seeking the blessings of Lord Badri. A dip in the Tapt Kund, believed to have medicinal properties, is an integral part of the pilgrimage.
			 </p>
			 </br>
            <p class="mt-20">
              Delving into the cultural tapestry of the Himalayas, the Char Dham Yatra also offers glimpses into the vibrant local life, traditional customs, and the awe-inspiring natural beauty that surrounds these sacred sites. The journey weaves through picturesque landscapes, winding roads, and quaint villages, providing a holistic experience that transcends the religious aspects of the pilgrimage.
			  </p>
			  </br>
            <p class="mt-20">
              As pilgrims return to Delhi, they carry not just the prasad and blessings but a profound sense of spiritual rejuvenation. The Char Dham Yatra, departing from Delhi, serves as a spiritual recalibration. Where the mundane is left behind, and the soul is nourished amidst the ethereal beauty of the Himalayas, forging an indelible connection between the earthly and the divine.
			  </p>
          </div>

          <div id="FAQs" class="tab-content" style="display: none">
            <h2 class="bold-heading font-2x">
              Here are some FAQs About Char Dham Yatra From Haridwar
            </h2>
            <div class="accordion">
              <div class="accordion-item">
                <div class="accordion-item-header">
                  1. What is the Char Dham Yatra From Haridwar?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    The Char Dham Yatra From Haridwar is a sacred pilgrimage that takes devotees to the four holy shrines of Yamunotri, Gangotri, Kedarnath, and Badrinath, starting from the holy city of Haridwar.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  2. What are the four destinations covered in the Char Dham Yatra?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    The Char Dham Yatra includes visits to Yamunotri, Gangotri, Kedarnath, and Badrinath, each holding immense religious significance in Hinduism.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  3. How long does the Char Dham Yatra From Haridwar last?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    The duration of the Char Dham Yatra varies depending on the itinerary chosen, typically ranging from 10 to 15 days.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  4. What is the best time to undertake the Char Dham Yatra From Haridwar?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    The best time to embark on the Char Dham Yatra is usually from April to November when the weather is favorable for pilgrimage.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  5. How can I reach Haridwar to start the Char Dham Yatra?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    Haridwar is well-connected by road, rail, and air. Travelers can reach Haridwar by train, bus, or taxi from major cities across India.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  6. Are there any age restrictions for undertaking the Char Dham Yatra?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    There are no specific age restrictions for the Char Dham Yatra, but certain trekking routes may require a certain level of physical fitness.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  7. What are the accommodation options available during the Char Dham Yatra?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    Accommodation options include hotels, guesthouses, dharamshalas, and tented camps, depending on the route and personal preferences.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  8. Is it necessary to hire a guide for the Char Dham Yatra?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    While hiring a guide is not mandatory, it can be beneficial, especially for first-time visitors, to navigate the routes and understand the significance of each shrine.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  9. What are the modes of transportation available during the Char Dham Yatra?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    Transportation options include buses, jeeps, and ponies, depending on the accessibility of the routes and personal preferences.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  10. Are meals included in the Char Dham Yatra package?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    Most Char Dham Yatra packages include meals, typically breakfast, lunch, and dinner, depending on the itinerary.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  11. Is travel insurance included in the Char Dham Yatra package?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                   Travel insurance is usually not included in the Char Dham Yatra package but can be purchased separately for added coverage.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  12. What is the cancellation policy for the Char Dham Yatra package?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    The cancellation policy varies depending on the tour operator and the terms and conditions of the package. It is advisable to check before booking.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  13. Are there any COVID-19 safety measures in place during the Char Dham Yatra?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    Yes, COVID-19 safety protocols such as mask-wearing, social distancing, and sanitization are implemented as per government guidelines to ensure the safety of pilgrims.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  14. What is the significance of Yamunotri and Gangotri in the Char Dham Yatra?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    Yamunotri is the source of the Yamuna River, while Gangotri is the origin of the Ganges River. Pilgrims visit these shrines to seek blessings and purification.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  15. What are the trekking options available during the Char Dham Yatra?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                   Trekking options include routes to Yamunotri, Kedarnath, and other scenic spots along the pilgrimage circuit.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  16. Is helicopter service available for the Char Dham Yatra?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    Yes, helicopter services are available for certain routes, providing convenience and accessibility, especially for elderly or physically challenged pilgrims.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  17. Can the Char Dham Yatra be customized according to personal preferences?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    Yes, many tour operators offer customizable Char Dham Yatra packages to cater to specific needs and preferences.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  18. Are there any medical facilities available along the Char Dham Yatra route?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    Medical facilities, including hospitals and clinics, are available at various points along the Char Dham Yatra route to provide medical assistance if needed.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  19. What are the rituals and ceremonies performed during the Char Dham Yatra?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    Pilgrims perform various rituals such as bathing in sacred rivers, offering prayers at temples, and performing pujas to seek blessings and spiritual fulfillment.

                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  20. How can I book the Char Dham Yatra From Haridwar?

                  <img src="assets/media/icon/arrow-down.svg" />
                </div>
                <div class="accordion-item-body">
                  <p>
                    To book the Char Dham Yatra From Haridwar, travelers can contact tour operators, travel agencies, or book online through their websites, following the designated booking process and payment instructions.

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="single-tour-booking-btn-wrapper">
          <h4 class="bold-heading font-yellow text-center">
            Click on the TOUR PLAN tab for a detailed itinerary. What makes us
            best? Check out our
            <a
              href="https://www.tripadvisor.in/Attraction_Review-g616028-d15813251-Reviews-Devbhumi_Tourism-Haridwar_Haridwar_District_Uttarakhand.html"
              target="_blank"
              rel="noreferrer noopener"
              class="font-red"
              >Tripadvisor Reviews</a
            >
            to learn more about us.
          </h4>
          <div class="space-50"></div>
          <a href="#" class="book-btn decoration-none">Book This Tour</a>
        </div>
      </div>
    </section>

    <!-- Footer :START -->

    <!-- Section 7 :START -->
    <section id="sec-7" class="section-7">
      <div class="container">
        <div class="row w-100 section-7-wrapper">
          <div class="col-12">
            <h2
              class="bold-heading text-center section-heading font-white font-2x"
            >
              Get A Uttarakhand Tour Quote
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-20 d-flex justify-center">
            <form
              action=""
              method="POST"
              class="w-70 d-flex flex-wrap quote-form"
            >
              <div class="form-group w-33">
                <label for="full-name">Full Name</label>
                <input
                  type="text"
                  id="full-name"
                  name="full_name"
                  class="form-control"
                  placeholder="Your Full Name?"
                  required
                />
              </div>
              <div class="form-group w-33">
                <label for="mobile-number">Mobile Number</label>
                <input
                  type="tel"
                  id="mobile-number"
                  name="mobile_number"
                  class="form-control"
                  placeholder="Your Mobile Number?"
                  required
                />
              </div>
              <div class="form-group w-33">
                <label for="email">Email ID</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Your Email ID?"
                  required
                />
              </div>
              <div class="form-group w-33">
                <label for="adults">Total Adults (Above 12 Years)</label>
                <select id="adults" name="adults" class="form-control" required>
                  <option value="">Select Adults</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div class="form-group w-33">
                <label for="children">Total Children (Below 12 Years)</label>
                <select
                  id="children"
                  name="children"
                  class="form-control"
                  required
                >
                  <option value="">Select Children</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div class="form-group w-33">
                <label for="rooms">Preferred Number of Rooms</label>
                <select id="rooms" name="rooms" class="form-control" required>
                  <option value="">Select Rooms</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div class="form-group w-33">
                <label for="arrival-date">Arrival Date</label>
                <input
                  type="date"
                  id="arrival-date"
                  name="arrival_date"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group w-33">
                <label for="pickup-location">Pickup Location</label>
                <input
                  type="text"
                  id="pickup-location"
                  name="pickup_location"
                  class="form-control"
                  placeholder="From Where To Pick You?"
                  required
                />
              </div>
              <div class="form-group w-33">
                <label for="pickup-time">Pickup Time</label>
                <input
                  type="time"
                  id="pickup-time"
                  name="pickup_time"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group w-33">
                <label for="departure-date">Departure Date</label>
                <input
                  type="date"
                  id="departure-date"
                  name="departure_date"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group w-33">
                <label for="dropoff-location">Drop-off Location</label>
                <input
                  type="text"
                  id="dropoff-location"
                  name="dropoff_location"
                  class="form-control"
                  placeholder="Where To Drop You?"
                  required
                />
              </div>
              <div class="form-group w-33">
                <label for="dropoff-time">Drop-off Time</label>
                <input
                  type="time"
                  id="dropoff-time"
                  name="dropoff_time"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group w-50">
                <label for="cab">Preferred Cab</label>
                <select id="cab" name="cab" class="form-control" required>
                  <option value="">Select Cab</option>
                  <option value="1">Cab 1</option>
                  <option value="2">Cab 2</option>
                  <option value="3">Cab 3</option>
                  <option value="4">Cab 4</option>
                  <option value="5">Cab 5</option>
                </select>
              </div>
              <div class="form-group w-50">
                <label for="budget">Budget</label>
                <select id="budget" name="budget" class="form-control" required>
                  <option value="">Select Budget</option>
                  <option value="low">Low</option>
                  <option value="medium">Medium</option>
                  <option value="high">High</option>
                </select>
              </div>
              <div class="form-group w-100">
                <label for="requirements">Specific Requirements</label>
                <textarea
                  id="requirements"
                  name="requirements"
                  class="form-control"
                  placeholder="Do You Have Any Specific Requirements? Please Write Down Here"
                  rows="4"
                ></textarea>
              </div>
              <div class="form-group w-100 d-flex align-center">
                <button type="submit" class="btn quote-submit-btn w-50">
                  Request a Free Quote
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Section 7 :END -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-3">
            <h2 class="footer-heading bold-heading font-yellow">
              Destinations
            </h2>
            <ul class="footer-menu">
              <li>Mussoorie</li>
              <li>Rishikesh</li>
              <li>Nainital</li>
              <li>Corbett</li>
              <li>Chopta</li>
              <li>Auli</li>
              <li>Kausani</li>
              <li>Kedarnath</li>
              <li>Haridwar</li>
              <li>Explore All Places...</li>
            </ul>
          </div>
          <div class="col-3">
            <h2 class="footer-heading bold-heading font-yellow">Interests</h2>
            <ul class="footer-menu">
              <li>Adventure</li>
              <li>Family Holidays</li>
              <li>Wildlife</li>
              <li>Ex Dehradun</li>
              <li>Ex Delhi</li>
              <li>Honeymoon and Romancing</li>
              <li>Budget</li>
              <li>Explore All Uttarakhand Tours</li>
            </ul>
          </div>
          <div class="col-3">
            <h2 class="footer-heading bold-heading font-yellow">
              Trending Uttarakhand Tours
            </h2>
            <ul class="footer-menu">
              <li>Char Dham Yatra By Road</li>
              <li>Char Dham Yatra By Heli</li>
              <li>Do Dham Yatra By Road</li>
              <li>Kedarnath Dham Yatra</li>
              <li>Garhwal Tour Packages</li>
              <li>Kumaon Tour Packages</li>
              <li>Short Tour Packages</li>
              <li>Winter Tour Packages</li>
              <li>Summer Tour Packages</li>
              <li>Explore All Uttarakhand Tours</li>
            </ul>
          </div>
          <div class="col-3">
            <h2 class="footer-heading bold-heading font-yellow">
              Request a Callback
            </h2>
            <p>
              Send us your name and contact no and we will get back to you as
              soon as possible.
            </p>
            <form action="#" class="w-100 mt-20">
              <input
                type="text"
                name="name"
                id=""
                placeholder="Enter your full name"
                class="w-100"
              />
              <input
                type="text"
                name="phone"
                id=""
                placeholder="Enter your phone number"
                class="w-100"
              />
              <input
                type="email"
                name="email"
                id=""
                placeholder="Enter your email"
                class="w-100"
              />
              <input
                type="submit"
                value="Send Details"
                class="w-100 submit-btn"
              />
            </form>
          </div>
        </div>
        <hr class="mt-50 __line" />
        <div class="row mt-50">
          <ul class="d-flex justify-between w-100 footer-contact">
            <li><a href="#">Call : +91 1334 324 303</a></li>
            <li><a href="#">Call : +91 9012 466 887</a></li>
            <li><a href="#">Call : +91 7252 808 808</a></li>
            <li><a href="#">Instant Call With Us</a></li>
            <li><a href="#">Mail : info@devbhumitourism.com</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <section class="below-footer">
      <div class="container">
        <div class="row justify-center w-100">
          <img src="assets/media/Devbhumi-Tourism.png" alt="" />
        </div>
        <div class="row">
          <div class="col-12 mt-50">
            <h4 class="regular-text text-center sup-heading">
              Devbhumi Travel & Tourism LLP
            </h4>
            <h2 class="bold-heading text-center section-heading font-2x">
              Our Affiliations
            </h2>
          </div>
        </div>
        <div class="row affiliated-logo-container">
          <div class="col-3 text-center">
            <img
              src="assets/media/uttarakhand-simply-heaven.png"
              alt=""
              class="affiliated-logo"
            />
          </div>
          <div class="col-3 text-center">
            <img
              src="assets/media/nainital.png"
              alt=""
              class="affiliated-logo"
            />
          </div>
          <div class="col-3 text-center">
            <img
              src="assets/media/ministry of corporate affairs.jpg"
              alt=""
              class="affiliated-logo"
            />
          </div>
          <div class="col-3 text-center">
            <img src="assets/media/GMVN.jpg" alt="" class="affiliated-logo" />
          </div>
        </div>
      </div>
    </section>
    <section class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p class="font-white">
              ©2024 - Official Website Of Devbhumi Tourism.
            </p>
          </div>
          <div class="col-6">
            <ul class="d-flex justify-end font-white">
              <li><a href="#" class="font-white">Home</a></li>
              <li><a href="#" class="font-white">About Us</a></li>
              <li><a href="#" class="font-white">Careers</a></li>
              <li><a href="#" class="font-white">T&C</a></li>
              <li><a href="#" class="font-white">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer :END -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
